@charset "utf-8";
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    text-shadow: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #000;
}

img, object {
    max-width: 100%;
}

.container {
    width: 100%;
}

.wid100 {
    width: 100%;
}

.bpLogo {
    height: 75%;
}

.cornerArtwidth {
    width: 8%;
}

.topGradiBgtd {
    width: 84%; padding: 1.5% 0.5% 0 0.5%;
}

.topGradiBg {
    background: url('./BG_Strip.svg') no-repeat;
}

.btmGradiBgtd {
    width: 75%; padding: 1.5% 0.5% 1.5% 0.5%;
}
.btmGradiBg {
    background: url('./BG_Strip2.svg') no-repeat;
}
.btmThksLogo {
    height: 60%;padding: 0 10% 0 0;
}
.sampleTxt{
    font-size: 6em;
    text-align: center;
}